<li>
	{{name}}
	{{burger_name}}
	<button class="change-devoured" data-id="{{id}}" data-newDevoured="{{devoured}}">
		{{#if devoured}}Devoure{{else}}nvm, don't eat{{/if}}
	</button>
	<button class="delete-button" data-id="{{id}}">Delete this burger.</button>
</li>